<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>

    <link rel="stylesheet" th:href="@{/resources/styles.css}">
</head>
<body>

<h1>Редактирование пользователя</h1>

<form th:method="patch" th:action="@{'/users/edit/'+ ${user.getId()}}" th:object="${user}" th:accept-charset="UTF-8">
    <label for="name">Имя:</label>
    <input id="name" type="text" th:field="*{name}">

    <label for="age">Возраст:</label>
    <input id="age" type="text" th:field="*{age}">

    <label for="email">Email:</label>
    <input id="email" type="text" th:field="*{email}">

    <button type="submit">Сохранить изменения</button>
</form>

</body>
</html>
