<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>

    <link rel="stylesheet" th:href="@{/resources/styles.css}">
</head>
<body>

<h1>Список пользователей</h1>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Возраст</th>
            <th>Почта</th>
            <th>Управление</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getAge()}"></td>
            <td th:text="${user.getEmail()}"></td>
            <td>
                <button type="button">изменить</button>
                <button type="button">удалить</button>
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <a th:href="@{/users/new}"><button type="button">Добавить</button></a>
            </td>
        </tr>
    </tbody>
</table>

</body>
</html>